.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}


body {
    font-family: Arial, sans-serif;
    background: url('pic.vid/background.jpg') no-repeat center center fixed; 
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color:  transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px cyan;
    border: 1px solid #cfcfcf;
}
.container h1{
    color: #fff;
}
.container input{
    background: transparent;
    color: #fff;
}
.container select{
    background: transparent;
    color: #fff;
}
.container textarea{
    background: transparent;
    color: #fff;
}
.option{
    background: transparent;
    color: #fff;
}
h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #fff;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button {
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 16px;
    border: none;
    padding: 2px;
    background: radial-gradient(circle 80px at 80% -10%, #ffffff, #181b1b);
    position: relative;
  }

  .button::after {
    content: "";
    position: absolute;
    width: 65%;
    height: 60%;
    border-radius: 120px;
    top: 0;
    right: 0;
    box-shadow: 0 0 20px #ffffff38;
    z-index: -1;
  }
  
  .blob1 {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 16px;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle 60px at 0% 100%,
      #3fe9ff,
      #0000ff80,
      transparent
    );
    box-shadow: -10px 10px 30px #0051ff2d;
  }
  
  .inner {
    padding: 14px 25px;
    border-radius: 14px;
    color: #fff;
    z-index: 3;
    position: relative;
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
  }
  .inner::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 14px;
    background: radial-gradient(
      circle 60px at 0% 100%,
      #00e1ff1a,
      #0000ff11,
      transparent
    );
    position: absolute;
  }
  .inner:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px cyan;
}
  



::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #000000;
}
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: #fff;
 padding: 5px 30px;
 border: 1px solid transparent;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
 top: 15px;
 left: 10px;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px cyan;
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
.label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
  }
  
  .label:hover,
  .label:focus-within,
  .label:active {
    background: hsla(0, 0%, 80%, .14);
  }
  
  .radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
    position: relative;
  }
  
  .radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .radio-input:checked+.radio-design::before {
    transform: scale(0);
  }
  
  .label-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
  }
  
  .radio-input:checked~.label-text {
    color: hsl(0, 0%, 40%);
  }
  :focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }
  
  .mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
  }
  
  label span {
    display: block;
    cursor: pointer;
    background-color: transparent;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #fff;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
  